* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #bebebe;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pages {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.page iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: -1;
}

.page-link {
  position: relative;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

.page-link:hover {
  background-color: #fff;
  color: crimson;
}

.page-link,
.badge {
  transition-property: all;
  transition-duration: 0.5s;
  background-color: crimson;
}

.page:hover .page-link {
  opacity: 1;
  visibility: visible;
}

.page:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.page:hover iframe {
  filter: blur(2px);
}

.badge {
  position: absolute;
  opacity: 1;
  bottom: 1rem;
  right: 1rem;
  border-radius: 1rem;
  background-color: rgb(224, 183, 0);
  color: rgb(29, 22, 7);
  font-weight: bold;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 0 rgb(121, 99, 0);
  font-size: 0.8rem;
}
