@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transparent-input {
    border-color: transparent;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
